/* Show History Frequent Sites Button 0.7 */
body {
	color: #000;
	background-color: #fff;
	margin: 0;
	padding: 0 16px;
	min-width: 400px;
	font-size: 14px;
}
body.dark {
	color: #f8f8f8;
	background-color: #000;
}
h1 {
	font-size: 1.25em;
	position: relative;
}
#options {
	position: absolute;
	right: 0;
	font-size: 1.1em;
	-moz-appearance: none;
	padding: 1px 2px 3px 2px !important;
	border-radius: 4px;
	background-color: transparent !important;
	border-color: transparent !important;
}
#options:hover {
	border-color: #000 !important;
}
body.dark #options:hover {
	border-color: #f8f8f8 !important;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	display: inline-block;
	width: 100%;
	padding: 4px 0;
	cursor: pointer;
	border-top: 1px solid #eee;
	position: relative;
}
li:first-of-type {
	border: none;
}
body.dark li {
	border-color: #333;
}
li:hover {
	background-color: #eee;
}
body.dark li:hover {
	background-color: #333;
}
li > img {
	display: inline-block;
	margin-right: 4px;
}
li > span {
	display: inline-block;
}
li > span:nth-of-type(1), li > span:nth-of-type(2) {
	max-width: calc(50% - 20px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
li > span:nth-of-type(2)::before {
	content: "— ";
	color: #000;
}
body.dark li > span:nth-of-type(2)::before {
	color: #f8f8f8;
}
li > span:nth-of-type(2){
	color: rgb(66, 143, 219);
}
li > span:nth-of-type(3){
	position: absolute;
	right: 0;
	z-index: 100;
	width: 21px;
	border: 1px solid transparent;
	border-radius: 4px;
}
li > span.closed::before {
	content: "▼";
	padding-left: 3px;
}
body.dark li > span.closed::before {
	content: "▽";
}
li > span.open::before {
	content: "▲";
	padding-left: 3px;
}
body.dark li > span.open::before {
	content: "△";
}
li > span.closed:hover, li > span.open:hover {
	border-color: #000;
}
body.dark li > span.closed:hover, body.dark li > span.open:hover {
	border-color: #f8f8f8;
}
li > span.additional::before {
	content: "—";
	padding-left: 3px;
	color: #000;
}
body.dark li > span.additional::before {
	color: #f8f8f8;
}
li[hostclosed="true"] {
	display: none;
}
#oops {
	color: red;
	font-weight: bold;
}